body
{
	background-color: #2a0d11;
	font-family: 'Muli', sans-serif;
}

#container
{
	margin-left: auto;
	margin-right: auto;
	max-width: 960px;
	text-align: center;
}

h1
{
	margin-top: 50px;
	font-size: 40px;
	color: #ffffcc;
}

h3
{
	font-size: 20px;
}

figure.item
{
	vertical-align: top;
	float: left;
	border: none;
}

@media screen and (min-width: 500px) and (max-width: 970px) 
{
	figure.item
	{
		display: inline-block;
		margin: auto;
		width: 50%;
	}
}

a
{
	outline: none;
}

a:link
{
	text-decoration: none;
}

img:hover
{
	opacity: 0.45;
    filter: alpha(opacity=45);
}

img 
{
	max-width: 100%;
	height: auto;
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 20px;
}

figcaption 
{
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #ffffcc;
	text-align: center;
	text-decoration: underline #2a0d11;
}

#sources h2 a
{
	font-size: 36px;
}

#sources a
{
	border: none;
	outline: none;
	text-decoration: none;
	color: #87ceeb;
}

#sources a:hover
{
	color: #ff7400;
}

#info
{
	clear: both;
	font-style: italic;
	font-size: 30px;
	margin-top: 30px;
	color: #ffffcc;
}

@media screen and (min-width: 200px)
{	
	#back a, #info h3
	{
		font-size: 23px; 
	}
	
	#sources h2 a
	{
		font-size: 30px; 
	}
}

@media screen and (min-width: 600px)
{	
	#sources h2 a, #info h3
	{
		font-size: 26px; 
	}
}

@media screen and (min-width: 645px)
{		
	#sources h2 a, #info h3
	{
		font-size: 26px; 
	}
}

@media screen and (min-width: 830px)
{
	#sources h2 a, #info h3
	{
		font-size: 26px; 
	}
}

@media screen and (min-width: 860px)
{
	#sources h2 a, #info h3
	{
		font-size: 26px; 
	}
}

@media screen and (min-width: 955px)
{	
	img
	{
		width: 385px;
		height: 285px;
	}

	#sources h2 a, #info h3
	{
		font-size: 26px; 
	}
}

@media screen and (min-width: 975px)
{	
	img
	{
		width: default;
		height: default;
	}

	#sources h2 a, #info h3
	{
		font-size: 26px; 
	}
}

@media screen and (min-width: 1050px)
{	
	#sources h2 a, #info h3
	{
		font-size: 28px; 
	}
}

@media screen and (min-width: 1200px)
{	
	#sources h2 a
	{
		font-size: 36px; 
	}
	
	#info h3
	{
		font-size: 28px; 
	}
}