body
{
	background-color: #2a0d11;
	font-family: 'Muli', sans-serif;
}

#container
{
	margin: auto;
	max-width: 960px;
	text-align: center;
}

h1
{
	text-transform: uppercase;
	color: #ffffcc;
}

a
{
	color: #87ceeb;
}

a:hover
{
	color: #ff7400;
}

p
{
	font-size: 20px;
	font-weight: bold;
	color: #ffffcc;
	float: left;
	text-align: justify;
}

img
{
	margin-left: 40px;
	max-width: 100%;
	height: auto;
	clear: both;
	transition: 1s transform ease-in-out;
}

img:hover
{
	 transform: scale(1.05);
}

#info
{
	font-style: italic;
	font-size: 18px;
	margin-top: 30px;
	color: #ffffcc;
}

li 
{
	text-align: justify;
	font-weight: bold;
	font-size: 20px;
	color: #ffffcc;
}

p, ul
{
     padding: 0;
}