body
{
	background-color: #2a0d11;
	font-family: 'Muli', sans-serif;
}

#container
{
	margin: auto;
	max-width: 960px;
	text-align: center;
}

h1
{
	text-transform: uppercase;
	color: #ffffcc;
}

a
{
	text-decoration: none;
	color: #87ceeb;
}

a:hover
{
	color: #ff7400;
}

p
{
	text-align: justify;
	font-size: 20px;
	font-weight: bold;
	color: #ffffcc;
	float: left;
}

img
{
	margin-left: 40px;
	max-width: 100%;
	height: auto;
	clear: both;
	transition: 1s transform ease-in-out;
}

img:hover
{
	 transform: scale(1.05);
}

#info
{
	font-style: italic;
	font-size: 22px;
	margin-top: 30px;
	color: #ffffcc;
}

li 
{
	text-align: justify;
	font-weight: bold;
	font-size: 22px;
	color: #ffffcc;
	padding-bottom: 30px;
}

p, ul
{
    padding: 0;
}

@media screen and (min-width: 460px)
{	
	#image
	{
		margin-top: -10px;
		margin-bottom: 10px;
		margin-left: 20px;
		margin-right: 30px;
	}
}

@media screen and (min-width: 490px)
{	
	#image
	{
		display: none;
	}

	#info-castle
	{
		font-size: 21px; 
	}
}

@media screen and (min-width: 700px)
{	
	#image
	{
		display: initial;
		margin-right: 20px;
	}
}

@media screen and (min-width: 1050px)
{
	#image
	{
		margin-top: 10px;
		margin-right: -5px;
	}
	
	#info-castle
	{
		font-size: 23px; 
	}
}

#castle h2
{
	font-size: 26px;
}