body
{
	background-image: url("../img/background_darkness.png");
	font-family: 'Lato', sans-serif;
}

#container
{
	margin-left: auto;
	margin-right: auto;
	min-width: 200px;
	max-width: 960px;
	text-align: center;
}

a
{
	font-size: 25px;
	outline: none !important;
	border: 0;
}

a:link, a:visited
{
	color: #0000ff;
}

h2
{
	font-size: 25px;
	color: #ffffcc;
}

h3
{
	font-size: 20px;
}

#info
{
	font-style: italic;
	font-size: 30px;
	margin-top: 30px;
	color: #ffffcc;
}

#caption
{
	color: #ff0000;
	font-weight: bold;
	font-size: 40px;
}

.name h2
{
	font-size: 20px;
}

.name
{
	text-align: left;
}

.images, #no-mobile-image
{
	max-width: 320px;
	height: auto;
	float: right;
}

@media screen and (min-width: 200px)
{
	#no-mobile-image, .images
	{
		display: none;
	}
	
	.name h2, .name a, #back a, #info h3
	{
		font-size: 16px; 
	}
	
	#caption
	{
		font-size: 25px;
	}
}

@media screen and (min-width: 600px)
{	
	#no-mobile-image, .images
	{
		display: none;
	}

	#no-mobile-image, .images
	{
		display: initial;
	}

	.name h2, .name a, #back a, #info h3
	{
		font-size: 23px; 
	}
	
	#caption
	{
		font-size: 30px;
	}
}

@media screen and (min-width: 645px)
{		
	#no-mobile-image, .images
	{
		display: initial;
	}
	
	.name h2, .name a, #back a, #info h3
	{
		font-size: 23px; 
	}
}

@media screen and (min-width: 830px)
{
	#no-mobile-image, .images
	{
		display: initial;
		margin-right: -170px;
	}
	
	.name h2, .name a, #back a, #info h3
	{
		font-size: 20px; 
	}
}

@media screen and (min-width: 860px)
{
	#no-mobile-image, .images
	{
		margin-right: -210px;
	}
	
	.name h2, .name a
	{
		font-size: 19.5px; 
	}
	
	 #back a, #info h3
	{
		font-size: 22px; 
	}
}

@media screen and (min-width: 900px)
{
	#no-mobile-image, .images
	{
		margin-right: -240px;
	}
	
	#caption
	{
		font-size: 35px;
	}
}

@media screen and (min-width: 960px)
{	
	#no-mobile-image, .images
	{
		margin-right: -250px;
	}
	
	.name h2, .name a
	{
		font-size: 20px; 
	}
	
	#back a, #info h3
	{
		font-size: 24px; 
	}
}

@media screen and (min-width: 1050px)
{
	#no-mobile-image, .images
	{
		margin-right: -290px;
	}
	
	.name h2, .name a, #back a, #info h3
	{
		font-size: 26px; 
	}
}

@media screen and (min-width: 1200px)
{	
	#no-mobile-image, .images
	{
		margin-right: -270px;
	}

	.name h2, .name a, #back a, #info h3
	{
		font-size: 28px; 
	}
	
	#caption
	{
		font-size: 40px;
	}
}

#sections
{
	float: left;
}