body
{
	background-color: #2a0d11;
	font-family: 'Muli', sans-serif;
}

#container
{
	margin-left: auto;
	margin-right: auto;
	min-width: 200px;
	max-width: 960px;
	text-align: center;
}

a
{
	font-size: 25px;
	outline: none !important;
	text-decoration: none;
	border: 0;
}

a:link
{
	color: #87ceeb;
}

a:active, a:visited, a:hover
{
	color: #ff7400;
}

h2
{
	font-size: 25px;
	color: #ffffcc;
}

h3
{
	font-size: 20px;
}

#info
{
	font-style: italic;
	font-size: 30px;
	margin-top: 30px;
	color: #ffffcc;
}

#caption
{
	color: #ff0000;
	font-weight: bold;
	font-size: 40px;
}

.name h2
{
	font-size: 20px;
}

.name
{
	text-align: left;
}

.images, #no-mobile-image
{
	max-width: 320px;
	height: auto;
	float: right;
}

@media screen and (min-width: 200px)
{
	#no-mobile-image, .images
	{
		display: none;
	}
	
	#caption
	{
		font-size: 25px;
	}
	
	.name h2, .name a, #back a, #info h3
	{
		font-size: 20px; 
	}
}

@media screen and (min-width: 600px)
{	
	#no-mobile-image, .images
	{
		display: initial;
	}
	
	#caption
	{
		font-size: 30px;
	}
}

@media screen and (min-width: 800px)
{		
	#no-mobile-image, .images
	{
		display: none;
	}
}

@media screen and (min-width: 860px)
{
	#no-mobile-image, .images
	{
		display: initial;
		margin-right: 0px;
	}
}

@media screen and (min-width: 900px)
{
	#no-mobile-image, .images
	{
		margin-right: -30px;
	}
	
	#caption
	{
		font-size: 35px;
	}
	
	.name h2, .name a, #back a, #info h3
	{
		font-size: 22px; 
	}
}

@media screen and (min-width: 960px)
{	
	#no-mobile-image, .images
	{
		margin-right: -60px;
	}
}

@media screen and (min-width: 1200px)
{	
	#no-mobile-image, .images
	{
		margin-right: -100px;
	}
	
	#caption
	{
		font-size: 40px;
	}
	
	.name h2, .name a, #back a, #info h3
	{
		font-size: 26px; 
	}
}

#sections
{
	float: left;
}